/* Quotes page style */

.quotes-block {
  background-color: #fafbfe;
  padding-top: 6%;
  padding-bottom: 6%;
}
.quotes-block-content {
  margin-top: 6%;
}
.quotes-block-content-p {
  width: 60%;
  margin: auto;
}
.block-title h2 {
  margin: 6%;
}
/* Contact us page style */

.contact-us {
  background-color: #fefeff;
  margin-top: 4%;
  padding-top: 2%;
}
#contact-us-p {
  margin-top: 2%;
  width: 60%;
  margin: auto;
}
.contact-us-icons {
  margin: 20px;
  float: left;
  color: #71c11c;
  border: 1px solid #71c11c;
  border-radius: 100%;
  padding: 15px;
}
.contact-icons {
  color: #71c11c;
}
.contact-us-h6 {
  font-weight: bold;
  margin-top: 15px;
  margin-bottom: 0;
}
#snd-msg {
  background-color: #71c11c;
  border-radius: 22px 22px;
}

/* about page style */

.flex-column {
  background-color: #fafafa;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
.flex-column-tab {
  color: black;
}
.flex-column-tab:hover {
  color: white;
  background-color: #0dc835;
}

/* porfolio page style */
#textcolor {
  color: #0dc835;
}
.MuiTab-textColorPrimary.Mui-selected {
  color: black;
}
.tabs-img {
  width: 200px;
  height: 200px;
  border: 1px solid black;

  margin-right: 4%;
  float: left;
}
